<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>New Zombie</h3>
        </div>
        <div class="card-body">
            <form action="/cerebros/new-cerebro" method="POST">
               <div class="form-group">
                    <input type="text" name="description" class="form-control" placeholder="Descripcion" autofocus>
               </div>
                <div class="form-group">
                    <input type="text" name="flavor" class="form-control" placeholder="Sabor" autofocus>
               </div>
               <div class="form-group">
                    <input type="text" name="price" class="form-control" placeholder="Precio" autofocus>
               </div>
               <div class="form-group">
                    <input type="text" name="picture" class="form-control" placeholder="Foto" autofocus>
               </div>
               <div class="form-group">
                   <button class="btn btn-dark">Agregar</button>
               </div>
            </form>
        </div>
    </div>
</div>